<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thisobeystudio.bakingapp">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.REMOVE_DRM_CERTIFICATES" /> -->

    <application
        android:name="com.thisobeystudio.bakingapp.base.BaseApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.thisobeystudio.bakingapp.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thisobeystudio.bakingapp.activities.RecipeDetailActivity"
            android:parentActivityName="com.thisobeystudio.bakingapp.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thisobeystudio.bakingapp.activities.MainActivity" />
        </activity>

        <receiver
            android:name="com.thisobeystudio.bakingapp.widget.CollectionAppWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.indiandollar.apps.todoappcollectionwidget.app.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget" />
        </receiver>

        <service
            android:name="com.thisobeystudio.bakingapp.widget.MyWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>